!!!
%html
  %head
    / This is a draft ebook file made with Bonfire (http://infews.github.com/bonfire)
    %title= title
      %link{ :type => 'text/css', :rel => 'stylesheet', :href => '../css/draft.css'}
  %body= body
