!!!
%html
  %head
    / This is a draft ebook file made with Bonfire (http://infews.github.com/bonfire)
    %title= title
    - css_files.each do |css|
      %link{:type => 'text/css', :rel => 'stylesheet', :href => css }
  %body= body
